.color_nav-bar {
    background-color: red;
}

.icon {
    width: 25%;
}

.imagen1 {
    width: 600px;
    height: 400px;
    transition: all 0.3s;
    border-radius: 10px;
}

.imagen1:hover {
    transform: scale(1.05);
}

#titulo{
    position: relative;
    top: -100px;
    left: 10px;
}

#titulo1{
    position: relative;
    top: -100px;
    left: 10px;
}

.imagen2{
    width: 500px;
    transition: all 0.3s;
    border-radius: 10px;
}

.imagen2:hover{
    transform: scale(1.05);
}

.d-inline-flex.p-3.mx-auto {
    column-gap: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width : 1150px) {
    #header {
        justify-content: center;
    }

    #parte {
        justify-content: center;
    }
}

@media screen and (max-width : 680px) {
   .imagen1 {
    width: 450px;
    height: 300px;
   }

   .imagen2 {
    width: 350px;
    height: 200px;
   }

   #titulo {
    font-size: 20px;
    top: -50px;
   }
}

@media screen and (max-width : 580px) {
    #um {
        display: none;
    }
    
    #dois {
        display: none;
    }
}

@media screen and (max-width : 530px) {
    .imagen1 {
     width: 350px;
     height: 200px;
    }
 
    .imagen2 {
     width: 250px;
     height: 150px;
    }

    #titulo1 {
        font-size: 20px;
        top: -50px;
       }
 
    #titulo {
     font-size: 15px;
     top: -50px;
    }
 }

 @media screen and (max-width : 430px) {
    .imagen1 {
     width: 260px;
     height: 150px;
    }
 
    .imagen2 {
     width: 220px;
     height: 130px;
    }
 
    #titulo1 {
     font-size: 15px;
     top: -50px;
    }

    #titulo {
        font-size: 15px;
        top: -50px;
       }
    
 }